{% extends "base.html" %}
{% set header = True %}

{% block headerstuff %}
	<meta name="description" content="The Art of Jim Curley"/>
	<meta name="distribution" content="global"/>
	<meta name="keywords" content="art, fine art, children's art, gallery, massachusetts, boston, painting, university, graphic, design, movies, color, artist, museum, haring, basquiat, warhol, monet, music, murley, moby, carle"/>
{% endblock %} 

{% block content %}
	<p ALIGN="center">
		<A HREF="galleries"><IMG src="{{painting.full_size_image()}}" BORDER="0"></A>
	</p>
	<P ALIGN="CENTER"><FONT SIZE="1" FACE="Arial, Helvetica, sans-serif">
  		ALL IMAGES COPYRIGHT 1998-{{year}} BY JIM CURLEY</FONT></P>
{% endblock %}
