{% extends "base.html" %}
{% set header = True %}
{% set footer = True %}
{% set lefticon = 'bluebatsicon' %}
{% set righticon = 'newbats' %}
{% set title_extension = 'Mission' %}

{% block content %}
  <div align="center">
    <center>
      <table WIDTH="527" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <tr>
          <td COLSPAN="2">
            <p align="center">
              <font size="+1" face="Arial, Helvetica, sans-serif">About the Painter:</font>
              <br>
              <font size="+2" face="Arial, Helvetica, sans-serif">TIM MURLEY</font>
            </p>
            <blockquote>
              <p>
                <font size="+1" face="Arial, Helvetica, sans-serif">
                  A graduate of the University of Massachusetts at Amherst, Tim Murley studied abroad at the
                  University of Seville (Spain) and the University of Barcelona, as well as at Chateau La Napoule (France).
                </font>
              </p>
              <p>
                <font size="+1" face="Arial, Helvetica, sans-serif">
                  His paintings have been exhibited at various locations in Massachusetts, including Boston
                  Logan Airport, Boston City Hall, Boston Children's Museum, Mass. General Hospital, Boston
                  Children's Hospital, the Judi Rotenberg Gallery, the Holliston Historical Society, Baak Gallery,
                  School of the Museum of Fine Arts, Tofias Gallery, Northampton Center for the Arts, Herter Art
                  Gallery, Brookline Town Hall and the Longwood Cricket Club.
                </font>
              </p>
              <p>
                <font face="Arial, Helvetica, sans-serif" size="+1">
                  His works have also been shown at various locations in San Francisco, including the MOMA Artists
                  Gallery, UCSF Medical Center, North Beach Gallery, Aperto, and Canvas.
                </font>
              </p>
              <p>
                <font face="Arial, Helvetica, sans-serif" size="+1">
                  His art has been featured in the San Francisco Chronicle, the Boston Phoenix, Brookline
                  Magazine and on the cover of "Young Audiences" catalog.
                </font>
              </p>
              <p>
                <font face="Arial, Helvetica, sans-serif" size="+1">
                  In addition, his art has been exhibited in Seattle, Dallas, Portland (Maine),
                  Tokyo, Milan, and La Napoule (France).
                  His paintings are in numerous collections around the world.
                </font>
              </p>
            </blockquote>
            <p align="center"><img src="images/timpic.jpg"></p>
            <p><br></p>
            <p align="center">
              <font size="+1" face="Arial, Helvetica, sans-serif">
                <b>Personal Statement:</b>
              </font>
            </p>
            <blockquote>
              <p>
                <font face="Arial" size="4">
                  My new work is created with acrylic paint, oil sticks, china markers and gloss glazes. The
                  paintings have a rougher, more textured surface.
                </font>
              </p>
              <p>
                <font face="Arial" size="4">
                  My themes are inspired by travel, classes, books, music, architecture, relationships, a night
                  time walk, popular &amp; foreign culture, people-watching, advertising, movies, beauty, even
                  missed opportunities.
                </font>
              </p>
              <p>
                <font face="Arial" size="4">
                  I don't think it's important where the inspiration comes from; it just needs to exist. I want
                  to translate those adventures and desires into the work.
                </font>
              </p>
              <p><br></p>
            </blockquote>
          </td>
        </tr>
      </table>
    </center>
  </div>
{% endblock %}
